#background {
    background-image:url(https://bit.ly/3q7KVQw);
    background-position: center center;
    background-size: 100%;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url(https://bit.ly/2TEblLQ);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55vh;
    color: #d68a50;
    row-gap: 20rem;
}

#banner button {
    font-size: medium;
    width: 10rem;    
    padding: 0.8rem 1rem;
    border: 0.5px solid transparent;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;   
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.138);
    border-color: #d68a50;   
}

#banner button a {
    color: white;
}

#banner button:hover {
    background-color: #ce7342fe;
    border: 0.5px solid white; 
}