
#background {
    background-image:url(https://bit.ly/3ngQNVZ);
    background-position: center center;
    background-size: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595553;

    #container {
        background-color: #ebe5e154;
        border-radius: 1.5rem;
        width: 40rem;
        height: 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align:center;

        .primeiracoluna {
            background-image: url(me.png);
            background-size: 13rem;
            background-position: center center;
            flex-grow: 1;
            width: 12rem;
            height: 15rem;
        }

        .segundacoluna {
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.631);
            flex-grow: 2;    
            flex-direction: column;
            height: 15rem;
        }

        h3, h5 {
            padding: 0.5rem; 
        }

        h3 {
            color:#f3af48; 
        }
        
    }
}