#dadosCep {
  background-color:rgba(139, 83, 0, 0.124);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
 
  p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }
}